<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    @@include("../blocks/modules/header/header.html")
    <section class="bodaos">
        <div class="container">
            <div class="bodao">
                <img src="../img/portrait1.png" alt="" class="bodao__img">
                <div class="bodao__text">
                    <div class="bodao__text-title">Bodao team команда профессионального бойца ММА из Бразилии
                    </div>
                    <div class="bodao__text-subtitle">Франсимара Бодао Барросо
                    </div>
                    <div class="bodao__text-descr">У Бодао более 50 проф поединков за плечами, он проводил бои в лучших лигах ММА мира, 5 лет в UFC и 3 года в PFL. И теперь он открыл свои клубы в России что бы поделиться с вами своим опытом.
                    </div>
                </div>
                <button class="bodao__btn btn"><i class="icon-next"></i>Записаться</button>


            </div>

        </div>
    </section>
    <section class="school">
        <div class="container">
            <div class="school">
                <h1 class="school__text">О школе</h1>
                <div class="school__img">
                    <div class="school__img-image1">
                        <!-- <img src="../img/prateek-katya.png" alt=""> -->
                    </div>
                    <div class="school__img-image2">
                        <img src="../img/chris1.png" alt="">
                    </div>

                </div>
                <div class="school__title">Повседневная практика показывает, что семантический разбор внешних противодействий, в своём классическом представлении, допускает внедрение благоприятных перспектив. А ещё сторонники тоталитаризма в науке, превозмогая сложившуюся непростую
                    экономическую ситуацию, объективно рассмотрены соответствующими инстанциями. С учётом сложившейся международной обстановки, укрепление и развитие внутренней структуры выявляет срочную потребность поставленных обществом задач. Есть
                    над чем задуматься: непосредственные участники технического прогресса будут своевременно верифицированы. Являясь всего лишь частью общей картины, акционеры крупнейших компаний будут
                </div>
                <button class="school__btn btn"><i class="icon-next"></i>Записаться</button>
                <div class="dever"></div>
            </div>

    </section>
    <section class="coaches">
        <div class="container">
            <div class="coache">
                <div class="coache__title">Тренеры</div>
                <div class=" coach">
                    <div class="coach__men">
                        <div class="coach__men-img">
                            <img src="../img/Rectangl23.png" alt="">
                        </div>

                        <div class="coach__men-title title">
                            <div class="title__text1">Бодао</div>
                            <div class="title__text2">Барросо</div>
                        </div>
                        <div class="coach__men-subtitle">У Бодао более 50 проф поединков за плечами, он проводил бои в лучших лигах ММА мира, 5 лет в UFC и 3 года в PFL. И теперь он открыл свои клубы в России что бы поделиться с вами своим опытом. </div>
                    </div>
                    <div class="coach__women">
                        <div class="coach__women-img">
                            <img src="../img/Rectangle24.png" alt="">
                        </div>

                        <div class="coach__women-title title">
                            <div class="title__text1">Бодао</div>
                            <div class="title__text2">Барросо</div>
                        </div>
                        <div class="coach__women-subtitle">У Бодао более 50 проф поединков за плечами, он проводил бои в лучших лигах ММА мира, 5 лет в UFC и 3 года в PFL. И теперь он открыл свои клубы в России что бы поделиться с вами своим опытом. </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>